.container-left {
    width: 28%;
    background-color:#0097e6 ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-center {
    width: 44%;
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-right {
    width:28% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}